/* This is supposed to make sure the page content stays within a certain resolution.
	Actually makes things go off of page*/
/*body {
	width: 608px; height: 456px;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
} */

/*I made this graphic in under 3 minutes ☺*/
/*Oh shoot it affects every page*/
/*body {
	background: url("asset/bg/table_top.png") no-repeat;
}*/

/*Default should be used for paragraphs. It's also black, if you wanted to know.*/
.default {
	font-size: 16px;
	font-weight: 200;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}

/*We love sexy white text in a blue box, and you should too.*/
.highlighted {
	font-size: 16px;
	font-weight: 200;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	background-color: #34BEED;
	margin-left: 5px;
}

/*Commonly associated with the words at the top of the page. It's black too.*/
/*Added so Table CSS doesn't flood the W_xx.php documents.*/
.heading {
	font-size: 32px;
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-align:center;
}
.table {
	border-width: 1px;
	border-color: rgb(52, 190, 237);
	table-layout: auto;
	empty-cells: show;
	border-top-style: 2;
	border-right-style: 2;
	border-bottom-style: 2;
	border-left-style: 2;
	border-style: solid transparent;
	width: auto;
	height: auto;
	margin-top: 20px;
	border-collapse: collapse;
}
.tableText {
	position: absolute;
	top: -8px;
	left: 70px;
	color: rgb(255, 255, 255);
	width: auto;
	height: auto;
}
.tableItem {
	margin-left: 5px;
	top: 0px;
	bottom: 0px;
}
.tableTitle {
	position: absolute;
	color: white;
	width: auto;
	height: auto;
	top: 15px;
	left: 63.5px;
}

/* Warning (or "Red") text.*/
.warning {
	font-size: 16px;
	font-weight: 200;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: red;
}

/*The gray dotted line we all know and love*/
.dots {
	position: absolute;
	color: rgb(142, 148, 168);
	left: 270px;
	top: 50px;
}
.textOpenShop {
	height: 38;
	width: 332;
	background: url("asset/common/tl.png") no-repeat top left;
	background-color: rgb(255, 255, 255);
	margin-top: -20px;
}
.textOpenShop:hover {
	height: 38;
	width: 332;
	background: url("asset/common/tl.png") no-repeat top left;
	background-color: rgb(196, 241, 252);
}
.textOpenShopH {
	position: abosulute;
	color: rgb(0, 0, 0);
	margin-top: 50px;
	margin-left: 10px;
}
.textOpenShop div {
	background: url("asset/common/tr.png") no-repeat top right;
}
.textOpenShop div div {
	background: url("asset/common/bl.png") no-repeat bottom left;
}
.textOpenShop div div div {
	background: url("asset/common/br.png") no-repeat bottom right;
	height: 38;
}
.textPlatform {
	position: absolute;
	color: white;
	font-weight: bold;
	left: 10px;
	top: 65px;
}
.textNormal {
	position: absolute;
	color: black;
	top: 150px;
	left: 185px;
}
.textTitle {
	position: absolute;
	color: rgb(52, 190, 237);
	font-weight: bold;
	left: 200px;
	top: 235px;
}
.buttonDownload {
	position: absolute;
	width: 263;
	height: 81;
	top: 285px;
	left: 130px;
	background: url("asset/button/download2A.png");
}
.buttonDownload:hover {
	background: url("asset/button/download2B.png");
}
.textWhite {
	position: absolute;
	color: White;
	top: 290px;
	left: 207px;
}
.imageScreenshot {
	position: absolute;
	width: 162;
	height: 122;
	left: 16px;
	top: 111px;
}
.infoBG {
	position: absolute;
	top: 80px;
}
.returnButton {
	position: absolute;
	top: 380px;
	width: 202px;
	height: 63px;
}
